<!-- Header -->
<div id="header" class="skel-panels-fixed">
  <div id="logo">
    <h1><a href="index.html">Phase Shift</a></h1>
    <span class="tag">by TEMPLATED</span>
  </div>
  <nav id="nav">
    <ul>
      <li class="active"><a href="index.html">Homepage</a></li>
      <li><a href="left-sidebar.html">Left Sidebar</a></li>
      <li><a href="right-sidebar.html">Right Sidebar</a></li>
      <li><a href="no-sidebar.html">No Sidebar</a></li>
    </ul>
  </nav>
</div>