<div class="tags">
  <div class="tag">
    <%= link_to "test", "#", class:"tag-name" %>
    <div class="tag-count">
      (000)
    </div>
  </div>
  <div class="tag">
    <%= link_to "test", "#", class:"tag-name" %>
    <div class="tag-count">
      (000)
    </div>
  </div>
</div>