<%# <%= render "shared/header" %>
  <%# Play-With帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      PCゲームのフレンドを募集する掲示板
    </h2>
    <p class='service-explain'>
      ゲームがもっと楽しくなるように
    </p>
  </div>
  <%# /Play-with帯部分  %>

<ul class='recruit-list'>
  <% @recruits.each do |recruit| %>
    <li class='list'>
      <%= link_to recruit.name, recruit_path(recruit.id), method: :get %>
    </li>
  <% end %>
</ul>