<%= render "shared/header" %>
<!-- Wrapper -->
<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="recruits-main">
    <%= render "shared/main_content" %>
  </div>
</div>
